@use '../mixins/index' as *;

//display interface
.hide-for-mobile {
  @include mobile(large) {
    background: var(--bg);
    position: absolute;
    top: 00%;
    left: 50%;
    transform: translatex(-50%);
    width: 0%;
    height: 60vh;
    padding: 3rem 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    @include mobile(small) {
      height: 100vh;
      padding: 0;
    }

    & ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      @include mobile(small) {
        align-items: center;
      }
    }
  }
}

.hide-for-desktop {
  @include desktop(large) {
    display: none;
  }
}

// burger and menu animations

.burger-animation {
  & span:nth-child(1) {
    transform: rotatez(45deg);
    background: var(--secondary-colour);
  }
  & span:nth-child(2) {
    transform: translatex(200%);
    opacity: 0;
  }
  & span:nth-child(3) {
    transform: rotatez(-45deg);
    background: var(--secondary-colour);
  }
}

.show-menu {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  width: 100vw;
}

//remove scrolling when showing menu
.overflow {
  overflow: hidden;
}

.active {
  color: var(--secondary-colour);
}
