@use '../mixins/index' as *;

//display interface
.hide-for-mobile {
  @include mobile(large) {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30vw;
    height: 50vh;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    @include mobile(small) {
      width: 100%;
      height: 60vh;
    }

    & ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.hide-for-desktop {
  @include desktop(large) {
    display: none;
  }
}

// burger and menu animations

.burger-animation {
  & span:nth-child(1) {
    transform: rotatez(45deg);
    background: var(--secondary-colour);
  }
  & span:nth-child(2) {
    transform: translatex(200%);
    opacity: 0;
  }
  & span:nth-child(3) {
    transform: rotatez(-45deg);
    background: var(--secondary-colour);
  }
}

.show-menu {
  z-index: 999;
  visibility: visible;
  opacity: 1;
  box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.6);
}

//remove scrolling when showing menu
.overflow {
  overflow: hidden;
}
