@use '../mixins/index' as *;

#contact {
  padding-left: 5rem;
  @include mobile(small) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  & form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobile(small) {
      grid-template-columns: 1fr;
    }
  }
  & .form {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    &:nth-child(1) {
      grid-column: 1/2;
    }
    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:nth-child(3) {
      grid-column: 2/3;
      grid-row: 1/3;
      @include mobile(small) {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    }

    & label {
      color: var(--primary-colour);
      font-size: 2rem;
      padding-bottom: 1rem;
      font-weight: 700;
      @include mobile(small) {
        font-size: 1.5rem;
      }
    }
    & input {
      width: 15rem;
      height: 2rem;
      font-size: 1.2rem;
      outline: none;
      border: none;
      padding-left: 0.5rem;
      @include mobile(small) {
        width: 100%;
      }
    }

    & button {
      cursor: pointer;
      margin-top: 1rem;
      font-weight: 700;
      width: 0;
      height: 2rem;
      font-size: 1.6rem;
      background: transparent;
      color: var(--primary-colour);
      outline: none;
      border: none;
      transition: all 0.3s ease-in-out;
      @include mobile(small) {
        margin-bottom: 3rem;
      }
      &:hover {
        color: var(--secondary-colour);
      }
    }
    & textarea {
      resize: none;
      width: 20rem;
      font-size: 1.2rem;
      outline: none;
      border: none;
      padding: 1rem;
      @include mobile(small) {
        width: 100%;
      }
    }
  }
}
